/*
black: rgb(13, 16, 15);
actual white: rgb(232, 229, 229);
acutal whit hover:rgb(215, 211, 211);
anoter off white: rgb(255, 252, 240);
hover off white:rgb(229, 228, 218);
*/
.body, html{
    background-color:rgb(13, 16, 15);
}

.ClassroomPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    width: 100%;
}

.title{
    font-size: 24px;
    color:rgb(232, 229, 229);
    margin-bottom: 10px;
    text-align: center;
}

.SortOptions {
    display: flex;
    gap: 20px;
    justify-content:center;
    text-align:center;
}

.SortButton {
    padding: 10px 0;
    font-size: 14px;
    cursor: pointer;
    background-color: rgb(232, 229, 229);
    color: rgb(13, 16, 15);
    border: none;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    transition: background-color 0.3s ease;
}
.SortButton:hover{
    background-color: rgb(215, 211, 211);
}
.DateComponentHolder {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    padding: 0 40px;
}

.DateBox {
    padding: 60px 0;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    color:rgb(13, 16, 15);
    background-color: rgb(232, 229, 229);
    width: 100%;
}

@media (max-width: 1600px) {
    .DateComponentHolder {
        grid-template-columns: repeat(4, 1fr); 
    }
}

@media (max-width: 1300px) {
    .DateComponentHolder {
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (max-width: 1000px) {
    .DateComponentHolder {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 700px) {
    .DateComponentHolder {
        grid-template-columns: 1fr; 
    }
}
