.videos-wrapper {
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 20px;
}

.video-grid-wrapper {
    display: grid;
    justify-items: center;
    align-items: center;

    max-width: 100%;

    border: 10px solid white;
    
    grid-template-columns: 1fr 1fr 1fr 3fr; /* Three equal-width columns */
    grid-template-rows: 3fr 1fr; 
    column-gap: 25px;
    row-gap: 10px;
}

.video-grid-wrapper>* {
    outline: 1px solid red;
}

.video-focused {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}

.board-focused {
    grid-row: 1 / 2;
    grid-column: 4 / 5;
}
.single-video-wrapper {
    position: relative;
    object-fit: contain;
    width: 100%;
}
.single-video-wrapper > .hand {
    font-size: 50px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    margin: 20px;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 5px;
    z-index: 999;
}

.testsquare {
    position:absolute;
    
    width: 20px;
    height: 20px;
    background-color: white;
    outline: 1px solid black;
    border-radius: 3%;
    z-index: 255;
}

.video-v {
    grid-row: 2 / 3;
}

.local-video-wrapper {
    display: flex;
    flex-direction: column;
}

.video-stream {
    width: 100%;

    border-radius: 20px;
    border: 10px solid grey;
    
    background-color: rgb(0, 0, 0, 0.8);
}


.video-controls {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
    gap: 10px;
}

.video-controls * {
    border: 5px solid black;
    border-radius: 5px;
}

.video-controls button:hover {
    background-color: grey;
}

.user {
    width: 500px;
    height: 500px;
    background-color: aqua;
}